.myBtn {
	font-weight: 600;
	box-sizing: border-box;
	appearance: none;
	background-color: transparent;
	border: 2px solid var(--hover-color);
	border-radius: 0.6em;
	border-color: var(--hover-color);
	background-image: linear-gradient(
		45deg,
		var(--hover-color) 50%,
		transparent 50%
	);
	background-position: 100%;
	background-size: 400%;
	transition: background 300ms ease-in-out;
	color: white;
	cursor: pointer;
	display: flex;
	align-self: center;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1;
	padding: 15px 25px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}
/* .myBtn:focus {
	color: #fff;
	outline: 0;
} */

.myBtn:hover {
	background-position: 0;
}
